sudo: false
language: python
python:
  - "2.6"
  - "2.7"
  - "3.5"
  - "3.6"
# command to install dependencies
install:
  - python setup.py install
# command to run tests
script:
  - python setup.py sdist # check for build
  - ./scripts/test.sh